.root{
    -fx-font-family: "Poppins";
    -fx-text-fill: #666666;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

/* Text */
.lb-name-application {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
}

.lb-side-bar{
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

/* Button */
.btn-transparent {
    -fx-background-repeat: no-repeat;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-overflow: hidden;
    -fx-outline: none;
    -fx-border-radius: 5px;
}

.btn-transparent-create{

    -fx-background-color: #2f85fa;
    -fx-text-fill: #ffffff;
}


/* sidebar button */
.label-menu-button{
    -fx-font-size: 16px;
}

.label-menu-button:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

/* border */
.border-top{
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
}

.border-bottom{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
}

.border-right{
    -fx-border-style: hidden solid hidden hidden ;
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
}

.alert-danger{
    -fx-background-color: #FAA0A0;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-opacity: 0.5;
}

.alert-danger .label{
    -fx-text-fill: red;
    -fx-font-weight: 600;
}

.validate-err{
    -fx-text-fill: #8c2c20;
    -fx-font-size: 12px;
}

.validate-success{
      -fx-text-fill: #002B00;
      -fx-font-size: 12px;
      -fx-font-weight:bold;
}