.root{
    -fx-text-fill: #666666;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

/* Text */
.lb-name-application {
    -fx-font-size: 26px;
    -fx-font-weight: 800;
    -fx-text-fill: #666666;

}

.lb-side-bar{
    -fx-font-size: 20px;
    -fx-font-weight: 800;
    -fx-text-fill: #666666;


}

/* Button */
.btn-transparent {
    -fx-background-repeat: no-repeat;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-overflow: hidden;
    -fx-outline: none;
    -fx-border-radius: 5px;
}

.btn-transparent-create{

    -fx-background-color: #2f85fa;
    -fx-text-fill: #ffffff;
}


/* sidebar button */
.label-menu-button{
    -fx-font-size: 16px;
    -fx-text-fill: #666666;

}

.label-menu-button:hover {
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-text-fill: #2f85fa;
}

.label-menu-button-active {
    -fx-font-weight: BOLD;
    -fx-text-fill: #2f85fa;

}

.label-btn-search{
    -fx-cursor: hand;
    -fx-text-fill: #2f85fa;
}

.label-btn-search:hover{
    -fx-cursor: hand;
    -fx-underline: true;
}

/* border */
.border-top{
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
}

.border-bottom{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
}

.border-right{
    -fx-border-style: hidden solid hidden hidden ;
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
}

.alert-danger{
    -fx-background-color: #FAA0A0;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-opacity: 0.5;
}

.alert-danger .label{
    -fx-text-fill: #8c2c20;
    -fx-font-weight: 600;
}

.icon-node {
    -fx-fill: #8c2c20;
    -fx-cursor: hand;
    -fx-padding: 8px;
}

.validate-err{
    -fx-text-fill: #8c2c20;
    -fx-font-size: 12px;
}

.validate-success{
      -fx-text-fill: #002B00;
      -fx-font-size: 12px;
      -fx-font-weight:bold;
}

/* table view */

.table-view .column-header-background {
    -fx-pref-height: 50px;
}

.table-view .label{
    -fx-text-fill: #666666;
    -fx-font-weight: 700;
}

.table-view .column-header .label{
    -fx-alignment:CENTER-LEFT;
    -fx-padding: 10px 5px 10px 5px;
}

.table-view .table-column{
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 10px 5px 10px 5px;
}

.table-view .table-column-align-right{
    -fx-alignment: CENTER-RIGHT;
}

.table-view .table-column-align-center{
    -fx-alignment: CENTER;

}




/* pagination */
.pagination {
    -fx-page-information-visible:false;
}


.pagination .pagination-control .control-box{
    -fx-alignment: bottom-right;
    -fx-spacing: 0;
    -fx-background: transparent;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-text-fill: #2f85fa;
    -fx-cursor: hand;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #dcdcdc;
    -fx-text-fill: #666666;
}

/* combo box */

.combo-box {
    -fx-border-width: 1px;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5px;
    -fx-background-border-radius: 5px;
    -fx-background-color: #ffffff;
}

.lb-super-link {
    -fx-cursor: hand;
}

.icon-node-close {
    -fx-cursor: hand;
    -fx-padding: 8px;
}

.hb-layout-remove-pane {
    -fx-padding: 10px;
    -fx-background-color: #B0E0E6;
    -fx-border-style: hidden solid solid;
    -fx-border-width: 0.2;
}

.lb-msg-remove-item {
    -fx-font-size: 15;
    -fx-text-fill: #8c2c20;
    -fx-font-weight: bold;
}

.lb-msg-remove-item-blue{
    -fx-text-fill: #2f85fa;
}

.lb-msg-remove-item-red{
    -fx-text-fill: #8c2c20;
}
