/*Colors used:
1. #17252A - dark blue
2. #3AAFA9 - sea green
3. #DEF2F1 - light sea green
4. #272635 - dark blue 2
5. #52515d - grey
6.  #D4B9A2 -sandy
7. #a4dbf4 -sky blue
*/

@font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: "Poppins Medium";
    src: url("fonts/Poppins-Medium.ttf");
}

@font-face{
    font-family: "Poppins SemiBold";
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
}

/* Headings */


.h1{
    -fx-font-family: 'Poppins SemiBold', sans-serif;
    -fx-font-size: 22;
    -fx-font-weight:bold;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.h2{
    -fx-font-family: 'Poppins SemiBold', sans-serif;
    -fx-font-size: 20;
    -fx-font-weight:bold;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.h3{
 -fx-font-family: 'Poppins SemiBold', sans-serif;
    -fx-font-size: 18;
    -fx-font-weight:bold;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.h4{
 -fx-font-family: 'Poppins SemiBold', sans-serif;
     -fx-font-size: 16;
        -fx-font-weight:700;
        -fx-tex-fill: #17252A;
        -fx-font-smoothing-type: lcd;
}

.h5{
    -fx-font-family: 'Poppins', sans-serif;
     -fx-font-size: 14;
        -fx-font-weight:700;
        -fx-tex-fill: #17252A;
        -fx-font-smoothing-type: lcd;
}

.h6{
 -fx-font-family: 'Poppins', sans-serif;
 -fx-font-size: 12;
    -fx-font-weight:700;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

.big-text{
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 18;
    -fx-font-weight:400;
    -fx-tex-fill: #17252A;
    -fx-font-smoothing-type: lcd;
}

/* Margin Bottom */

.root{
    -fx-font-family: "Poppins";
    -fx-text-fill: #17252A;
    -fx-font-size:14;
}

.title-bar{
    -fx-background-color: #ffffff;
}

.title-label{
        -fx-font-family: 'Poppins SemiBold', sans-serif;
        -fx-text-fill: #272635;
        -fx-font-size: 28;
        -fx-font-weight: bold;
        /*-fx-padding: 5 5 5 30;*/
}

.btn-menu {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-overflow: hidden;
    -fx-outline: none;

}

